body{
    margin:0;
    background-image:url("Assets/HTML & CSS/General Images & Icons/background.svg") ;
    height:100%;
}

header img{
    margin-left:30px;
    height:90px;

}
.select-city{
    -webkit-appearance: button;
    margin-left:20px;
  
    color:#cc8c16;
    
    background-color: transparent;
        background: transparent;
        border-color:gray;
        width:150px;
        height:30px;
        border-radius: 5px;
        box-shadow :3px 3px black;
        z-index:-1;
    
}
.date-time{
    margin-left: 150px;
    margin-top:10px;
 
}
.date-time span{
    font-size:small;
}
.date-time img{
    height:50px;
    margin-left:10px;
    margin-top:10px;
}

.time{
    font-size: 30px;
    margin-top: -25px;
    font-family: 'Courier New', Courier, monospace;
    font-weight:bold;
    color: #e7b04a;
}

.date{
   
    font-size: 20px;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    color: #e7b04a;
    margin-top:-22px;
}

.container{
   display:flex;
   flex-wrap: wrap;
  
}
.item-1 > img{
    margin-top:10px;
}


.item-2{
    font-family:arial;
    font-size:15px;
    color: black;
    margin-top:20px;
    height:100px;
    font-weight: bolder;
    text-align:center;
   
}

.item-3{
    font-family:arial;
    font-size:15px;
    font-weight: bolder;
    text-align:center;
    color:black;
    margin-top:20px;
   
}

.item-4{
    /*margin-left:50px;*/
    margin-top:20px;
    display:grid;
    grid-template-columns: auto auto auto auto auto auto;
    color:#eeb437;
    font-family: arial;
    text-align:center;
    
    
}

.item-4 >img{
    height:15px;
    width:15px;
}

.top_navbar{
    padding: 10px 20px;
  
    align-items: baseline;
    box-sizing: border-box;
    
   
   

}
.navbar_container{
    display:flex;
   flex-wrap: wrap;
   
    position: sticky;
    top: 0;
    margin-top:25px;
    
    align-items: center;
    justify-content: space-around;
    box-sizing: border-box;
    position: relative;
}
.navbar_item{
    font-family: arial;
    font-weight: bold;
}


   

 .navbar-title{
    color:#eeb437;
    font-family: arial;
    font-weight:bolder;
    font-size: 20px;
    text-align: center;
    
}
.city_weathers{
    background-color: #101010;
    margin-top:10px;
    border-top-left-radius:50px;
    border-top-right-radius: 50px;
    position:relative;
    
}
.cities_count{
    
    font-family: arial;
    text-align: center;
    border-radius: 15px;
    box-shadow: 1px 1px black;
    color:#eeb437;

    justify-content:flex-end;
    background-color: transparent;
    width:70px;
    height:20px;
}
.active{
  border-bottom:5px solid dodgerblue;
}
.card_container{
    width:100%;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.card{
    background-image:url("Assets/HTML & CSS/General Images & Icons/background.svg");
    box-shadow: 5px 5px black;
    width:125px;
    height:250px;
   margin-top: 50px;
    font-family:arial;
    font-weight:bold;
    font-size:large;
    margin-bottom:30px;
    padding: 20px;
    
    border-radius: 5px;
    
    
}
.card > img{
margin-top:-90px;
margin-left:60px;
width:80px;

}



.cities_continent{
    
        display:flex;
       flex-wrap: wrap;
       column-gap:20px;
       background-color: #101010;
        position: sticky;
        top: 0;
       text-align: center;
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box;
        position: relative;
        padding:35px;
        
        
    
}
.cont_title{
    color:#eeb437;
    font-family: arial;
    text-align:justify;
    font-weight: bolder;
    margin-left:40px;
    text-align:center;
}
.city_item{
    font-family: arial;
    color:white;
    text-align:center;
    font-weight: bold;
    margin-right:20px;
}
.flex_container{
    display: flex;
    flex-wrap: wrap;
    background-color:#101010;
    justify-content: space-evenly;
    
}
.card_cont{
    
    background-color: #202020;
    box-shadow: 5px 5px black;
    width:250px;
    height:50px;
    margin-top: 50px;
    font-family:'Courier New', Courier, monospace;
    font-size:large;
    margin-bottom:30px;
    padding: 20px;
    color:#eeb437;
    
    
    
}
.card_cont > div{
    color:white;
    font-family:'arial';

}




.humidity_icon{
    height:1em;
}
.cont_city_title{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 17px;
    margin-top: -8px;
    

}
.cont_name{
    color: #FFF461;
    font-family:arial;
    font-weight:bold;
}

.cont_content{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 5px;
  
}

/* Responsive Web Design*/


/* For mobile phones: */
[class*="col-"] {
    width: 100%;
  }
  
  @media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }
  
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }
  





